In [4]:
import pandas as pd
lm = pd.read_csv("Depth_180510.txt")
old_z = lm["Z"].copy()

distance_col = "M3C2 interpolated.bilsmooth(20_20)"
lm["//X"] -= lm["Nx"] * lm[distance_col]
lm["Y"] -= lm["Ny"] * lm[distance_col]
lm["Z"] -= lm["Nz"] * lm[distance_col]

lm = lm[~lm.Y.isnull()]



lm[["//X", "Y", "Z", distance_col, "Nx", "Ny", "Nz"]].to_csv("Depth_offset_180510.txt", index=False)
lm.head()

,//X,Y,Z,Npoints_cloud1,Npoints_cloud2,STD_cloud1,STD_cloud2,significant change,distance uncertainty,M3C2 distance,Original cloud index,M3C2 interpolated,M3C2 interpolated.bilsmooth(20_20),Nx,Ny,Nz
0,51776.152340,56899.312500,1679.801760,2258.0,0.0,11.75477,NaN,0.0,NaN,NaN,0.0,NaN,0.00000,0.818055,-0.057928,0.572215
1,51777.988280,56876.468750,1677.688230,2050.0,0.0,11.86134,NaN,0.0,NaN,NaN,0.0,NaN,0.00000,0.800653,0.046599,0.597313
2,51777.593750,56910.613280,1679.130370,2327.0,0.0,11.63449,NaN,0.0,NaN,NaN,0.0,0.0,0.00000,0.792664,-0.119564,0.597819
3,51779.268983,56865.253841,1678.314759,1992.0,0.0,12.48749,NaN,0.0,NaN,NaN,0.0,NaN,0.00070,0.782081,0.097943,0.615432
4,51782.025395,56850.296595,1677.280960,1862.0,0.0,12.65728,NaN,0.0,NaN,NaN,0.0,NaN,0.00272,0.714917,0.104658,0.691332